.layui-layer-btn .layui-layer-btn0{
    border-color: #fff;
    background-color: #1E9FFF;
    color:#fff;
}
.layui-layer-btn .layui-layer-btn1{
    border-color: #fff;
    background-color: #FF5722;
    color:#fff;
}