<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yxyqcy.family.home.movie.dao.MovieRepository">

  <resultMap id="BaseResultMap" type="org.yxyqcy.family.home.movie.entity.Movie">
    <id column="business_id" jdbcType="VARCHAR" property="businessId" />

    <result column="fly_count" jdbcType="INTEGER" property="flyCount" />
    <result column="star" jdbcType="FLOAT" property="star" />
    <result column="price" jdbcType="FLOAT" property="price" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="name" jdbcType="VARCHAR" property="name" />
	<result column="movie_theatre" jdbcType="VARCHAR" property="movieTheatre" />
    <result column="name_pinyin" jdbcType="VARCHAR" property="namePinyin" />
    <!--电影院名称-->
    <result column="movieTheatreName" jdbcType="VARCHAR" property="movieTheatreName" />
	<result column="movie_interval" jdbcType="INTEGER" property="movieInterval" />
	<result column="movie_date" jdbcType="TIMESTAMP" property="movieDate" />

    <!--dataEntity-->
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />

  </resultMap>
</mapper>