.addInner{
	background-color: #F2AE11!important;
	background-image:none;
}
.navbar .divider-vertical{
	background-color: #F2AE11;
    border-right: none;
}
.badge-warning {
    background-color: #F95C04;
}
#main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
    color: #FFF;
    background: #B3B4B5;
    background: -moz-linear-gradient(top, #B3B4B5 0%, #8D8D8E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B3B4B5), color-stop(100%,#8D8D8E));
    background: -webkit-linear-gradient(top, #B3B4B5 0%,#8D8D8E 100%);
    background: -o-linear-gradient(top, #B3B4B5 0%,#8D8D8E 100%);
    background: -ms-linear-gradient(top, #B3B4B5 0%,#8D8D8E 100%);
    background: linear-gradient(top, #B3B4B5 0%,#8D8D8E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
     border-color: #d5d5d5; 
}
.page-title {
	 background: #B3B4B5;
    background: -moz-linear-gradient(top, #B3B4B5 0%, #8D8D8E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B3B4B5), color-stop(100%,#8D8D8E));
    background: -webkit-linear-gradient(top, #B3B4B5 0%,#8D8D8E 100%);
    background: -o-linear-gradient(top, #B3B4B5 0%,#8D8D8E 100%);
    background: -ms-linear-gradient(top, #B3B4B5 0%,#8D8D8E 100%);
    background: linear-gradient(top, #B3B4B5 0%,#8D8D8E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B4B5', endColorstr='#8D8D8E');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B4B5', endColorstr='#8D8D8E')";

}