<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yxyqcy.family.home.blog.dao.BlogLabelRepository">

  <resultMap id="BaseResultMap" type="org.yxyqcy.family.home.blog.entity.BlogLabel">
    <id column="business_id" jdbcType="VARCHAR" property="businessId" />

    <result column="seq_date" jdbcType="TIMESTAMP" property="seqDate" />
    <result column="count_blog" jdbcType="INTEGER" property="countBlog" />
    <result column="title" jdbcType="VARCHAR" property="title" />


    <!--dataEntity-->
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>